.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 30em;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.input-wrapper input:focus {
    outline-color: lightcoral;
}



.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
   margin-top: 2rem;
}

.comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}


#app{

    text-align: center; /*让div内部文字居中*/
    border-radius: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}


#em{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: 6rem;
}

